@font-face {
  font-family: "georgia";
  src: url("./fonts/georgia bold.eot");
  src: local("вє"), url("fonts/georgia bold.woff") format("woff"),
    url("fonts/georgia bold.ttf") format("truetype"),
    url("fonts/georgia bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "georgia";
  src: url("./fonts/georgia italic.eot");
  src: local("вє"), url("fonts/georgia italic.woff") format("woff"),
    url("fonts/georgia italic.ttf") format("truetype"),
    url("fonts/georgia italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url("./fonts/Georgia Regular font.eot");
  src: local("вє"), url("fonts/Georgia Regular font.woff") format("woff"),
    url("fonts/Georgia Regular font.ttf") format("truetype"),
    url("fonts/Georgia Regular font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: Georgia;
  font-style: italic;
  font-weight: 700;
}
