$color-primary-normal: #f1cdb3;
$color-primary-hovered: #fddcc4;
$color-backround-brown: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
        #211f20;
$color-backround-grey: #f6f6f6;
$color-title: #545454;
$color-text-primary: #4c4c4c;
$color-text-additional: #b2b2b2;
$color-text-buttons: #292929;
$color-light: #ffffff;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;

$content-width: 1200px;
$tablet-width: 1279px;
$mobile-width: 767px;
